<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-answer-heading" jhiTranslate="biodifullangularApp.answer.home.createOrEditLabel">Create or edit a Answer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!answer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="answer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="biodifullangularApp.answer.jugeID" for="field_jugeID">Juge ID</label>
                    <input type="text" class="form-control" name="jugeID" id="field_jugeID"
                        [(ngModel)]="answer.jugeID" required/>
                    <div [hidden]="!(editForm.controls.jugeID?.dirty && editForm.controls.jugeID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.jugeID?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="biodifullangularApp.answer.challenger1" for="field_challenger1">Challenger 1</label>
                    <input type="text" class="form-control" name="challenger1" id="field_challenger1"
                        [(ngModel)]="answer.challenger1" required/>
                    <div [hidden]="!(editForm.controls.challenger1?.dirty && editForm.controls.challenger1?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.challenger1?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="biodifullangularApp.answer.challenger2" for="field_challenger2">Challenger 2</label>
                    <input type="text" class="form-control" name="challenger2" id="field_challenger2"
                        [(ngModel)]="answer.challenger2" required/>
                    <div [hidden]="!(editForm.controls.challenger2?.dirty && editForm.controls.challenger2?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.challenger2?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="biodifullangularApp.answer.winner" for="field_winner">Winner</label>
                    <input type="text" class="form-control" name="winner" id="field_winner"
                        [(ngModel)]="answer.winner" required/>
                    <div [hidden]="!(editForm.controls.winner?.dirty && editForm.controls.winner?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.winner?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="biodifullangularApp.answer.survey" for="field_survey">Survey</label>
                    <select class="form-control" id="field_survey" name="survey" [(ngModel)]="answer.surveyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="surveyOption.id" *ngFor="let surveyOption of surveys; trackBy: trackSurveyById">{{surveyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
